<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
    
    <servlet>
    	<servlet-name>ServletInsert</servlet-name>
    	<servlet-class>Servlet.ServletInsert</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>ServletInsert</servlet-name>
    	<url-pattern>/hello</url-pattern>
  	</servlet-mapping>

	<servlet>
		<servlet-name>ServletDelete</servlet-name>
		<servlet-class>Servlet.ServletDelete</servlet-class>
	 </servlet>
	 
	 <servlet-mapping>
	   	<servlet-name>ServletDelete</servlet-name>
	   	<url-pattern>/Delete</url-pattern>
	 </servlet-mapping>
	
    <servlet>
        <servlet-name>ServletList</servlet-name>
        <servlet-class>Servlet.ServletList</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletList</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletConfirmation</servlet-name>
        <servlet-class>Servlet.ServletConfirmation</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletConfirmation</servlet-name>
        <url-pattern>/Confirmation</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>     
